* {
    font-family: sans;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
}

header, footer {
    width: 100%;
    display: flex;
    color: white;
    box-sizing: border-box;
    box-shadow: 0 0 5px 0 #000;
    background-color: black;
}

header .layout-wrapper,
footer .layout-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    box-sizing: border-box;
}

header .about {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}

header .logo {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    flex-shrink: 0;
    background-image: url('../images/smile.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}

footer .layout-wrapper {
    justify-content: flex-end;
}

footer .contacts {
    font-size: 12px;
    font-weight: 600;
}

footer .email {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: white;
}
