@import 'globals/material-icons.scss';
@import 'globals/lists.scss';
@import 'components/about.scss';
@import 'components/works.scss';
@import 'components/skills.scss';

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('../images/background/200w.gif');
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;

  /* Small only */
  @media screen and (max-width: 39.9375em) {
    background-image: none;
  }

  &.loaded {
    .body-wrapper {
      opacity: 1;
    }
  }

  .body-wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: .8s;
    background-color: rgba($color: #007878, $alpha: .8);
  }
}

header {
  display: flex;
  border-bottom: 2px solid rgba($color: #fff, $alpha: .1);

  /* Small only */
  @media screen and (max-width: 39.9375em) {
    height: 40px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #007878;
  }

  .burger-menu {
    display: none;
    font-size: 40px;
    color: #fff;

    /* Small only */
    @media screen and (max-width: 39.9375em) {
      display: inline-block;
    }
  }
}

main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 10px 0;
  flex-grow: 1;
  display: flex;

  /* Small only */
  @media screen and (max-width: 39.9375em) {
    margin-top: 42px;
  }

  nav {
    width: 280px;
    flex-shrink: 0;
    overflow: hidden;
    border-left: 2px solid rgba($color: #fff, $alpha: .1);
    transition: .2s;

    /* Small only */
    @media screen and (max-width: 39.9375em) {
      position: fixed;
      top: 42px;
      bottom: 0;
      left: -300px;
      z-index: 1;
      background-color: #007878;
      border-left-width: 0;

      &.visible { left: 0; }
    }

    .lists-block .list {
      display: flex;
      align-items: center;
      font-weight: 600;

      &.active {
        color: #000;
        background-color: #fff;
      }
    }
  }
}

.frame-block {
  padding: 0 10px;
  flex-grow: 1;
  overflow-x: hidden;
  box-sizing: border-box;

  /* Small only */
  @media screen and (max-width: 39.9375em) {
    padding: 0 10px;
  }
  
  .fade-enter-active, .fade-leave-active {
    transition: .4s;
  }
  
  .fade-enter, .fade-leave-to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

footer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  border-top: 2px solid rgba($color: #fff, $alpha: .1);
  box-sizing: border-box;

  .contacts {
    margin-left: auto;
    display: flex;
  }

  .contact {
    font-size: 14px;
  }
}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}